networks:
  internal:
    driver: bridge
    ipam:
      config:
        - subnet: 174.40.0.0/16

services:
  builder:
    image: "alchemy-fr/ps-documentation-builder:latest"
    build:
      context: ./
      dockerfile: ./importer/Dockerfile
      args:
        - PHRASEA_REFNAME=${PHRASEA_REFNAME}
        - PHRASEA_REFTYPE=${PHRASEA_REFTYPE}
        - PHRASEA_DATETIME=${PHRASEA_DATETIME}
    networks:
      - internal
#    volumes:
#        - ./importer/:/srv/app
#        - ./docusaurus/phrasea/:/srv/docusaurus/phrasea
    ports:
      - "8080:80"
    environment:
      - PHRASEA_GITHUB=${PHRASEA_GITHUB}
      - PHRASEA_IMAGES=${PHRASEA_IMAGES}
      - PHRASEA_REFNAME=${PHRASEA_REFNAME}
      - PHRASEA_REFTYPE=${PHRASEA_REFTYPE}
      - PHRASEA_DATETIME=${PHRASEA_DATETIME}
