services:
  doc:
    image: alchemy-fr/phrasea-documentation:${IMAGE_TAG}
    build:
        context: .
        args:
          - PHRASEA_REFNAME=${PHRASEA_REFNAME}
          - PHRASEA_REFTYPE=${PHRASEA_REFTYPE}
          - PHRASEA_DATETIME=${PHRASEA_DATETIME}
          - SITE_NAME=${SITE_NAME}
          - SITE_URL=${SITE_URL}
    ports:
      - "${SITE_PORT}:80"
