networks:
    internal:
        driver: bridge
        ipam:
            config:
                - subnet: ${SUBNET}

services:
    documentation:
        image: ${REGISTRY_NAMESPACE}:${DOCKER_TAG}
        command: [ "pnpm", "run", "start" ]
        build:
            context: ./
            dockerfile: ./Dockerfile
        networks:
            - internal
        volumes:
            - ./my-app/content:/srv/workspace/my-app/content
