name: build-builder

on:
  repository_dispatch:
      types: [trigger-workflow]

env:
  REGISTRY_NAMESPACE: ghcr.io/${{ github.repository_owner }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  PHRASEA_TAG: ${{ github.event.PHRASEA_TAG || 'latest' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 30

      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./importer/Dockerfile
          provenance: false
          push: true
          tags: |
            ${{ env.REGISTRY_NAMESPACE }}/phrasea-documentation:latest

      - name: build and export to doc repository
        run: |
          docker compose run --rm \
          -e DOC_GITHUB_TOKEN="${{ secrets.DOC_GITHUB_TOKEN || '' }}" \
          -e PHRASEA_TAG="${{ env.PHRASEA_TAG }}" \
          documentation
