name: on_push

on: [push]

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY_NAME: public.ecr.aws/alchemyfr/ps-databox-api-php

  # sent by workflow_dispatch from phrasea:on-push
  PHRASEA_TAG: "master"
#  PHRASEA_REF: ${{ github.event.client_payload.PHRASEA_REF || '' }}

  # where to download from phrasea (releases on docker image(s) for applications doc(s) ; github repo for base doc)
  # PHRASEA_GITHUB: "alchemy-fr/phrasea"
  # PHRASEA_IMAGES: "public.ecr.aws/alchemyfr/ps-databox-api-php"
  PHRASEA_GITHUB: "alchemy-fr/sandbox-ci-documentation"
  PHRASEA_IMAGES: "ghcr.io/alchemy-fr/fake-phrasea"

jobs:
  pull-ecr-images:
    runs-on: ubuntu-latest

    steps:
      - name: Dump vars
        run: |
          echo "===== on_push.yaml ====="
          echo "env.PHRASEA_TAG = ${{ env.PHRASEA_TAG }}"
          echo "env.PHRASEA_REF = ${{ env.PHRASEA_REF }}"
          echo "github.ref = ${{ github.ref }}"
          echo "github.sha = ${{ github.sha }}"
          echo "github.ref_name = ${{ github.ref_name }}"
          echo "github.repository = ${{ github.repository }}"
          echo "github.event.release.tag_name = ${{ github.event.release.tag_name }}"
          echo "github.event.client_payload.PHRASEA_TAG = ${{ github.event.client_payload.PHRASEA_TAG }}"
          echo "env.REGISTRY = ${{ env.REGISTRY }}"
          echo "env.REGISTRY_NAMESPACE = ${{ env.REGISTRY_NAMESPACE }}"

      - name: Configure AWS  Credentials
        env:
          AWS_ECR_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

#      - name: Authenticate Docker to ECR
#        run: |
#          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com

#      - name: Login to Amazon ECR Public
#        id: login-ecr-public
#        uses: aws-actions/amazon-ecr-login@v2
#        with:
#          registry-type: public

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 30

      - name: List and Pull single image
        if: ${{env.PHRASEA_TAG != ''}}
        run: |
          echo "Pulling image: ${{env.PHRASEA_TAG}}"
          docker pull ${{env.PHRASEA_IMAGES}}:${{env.PHRASEA_TAG}}
          IMAGE_ID=$(docker create ${{env.PHRASEA_IMAGES}}:${{env.PHRASEA_TAG}})
          docker cp $IMAGE_ID:/sr/app/doc/ ./${{env.PHRASEA_TAG}} || echo "No doc/ folder found in image"
          docker rm -v $IMAGE_ID

      - name: List and Pull all images from releases
        if: ${{env.PHRASEA_TAG == ''}}
        run: |
          echo "Fetching tags from github:phrasea releases"
          # Fetch releases
          # -------- to not explode api limits, use a static file for tests -----------
          # response=$(curl -s "https://api.github.com/repos/${{env.PHRASEA_GITHUB}}/releases")
          response=$(cat ./releases_sandbox.json)
          # ---------------------------------------------------------------------------
          # Check if the response is valid
          if [ $? -eq 0 ]; then
            # Loop through releases
            echo "$response" | jq -c '[.[]] |  map({"tag": .tag_name | split(".")  | {major: .[0], minor: .[1], patch: .[2], full: join(".")}, "all": .}) |group_by(.tag.major, .tag.minor) | map(max_by(.tag.patch).all) | .[]' | while read -r release; do
              tag_name=$(echo "$release" | jq -r '.tag_name')
              name=$(echo "$release" | jq -r '.name')
              created_at=$(echo "$release" | jq -r '.created_at')
              echo "Release: $name"
              echo "Tag: $tag_name"
              echo "Created At: $created_at"
              echo "-------------------------"
            done
          fi

#              IMAGE_TAGS=$(aws ecr-public list-images --repository-name $ECR_REPOSITORY_NAME --query 'imageIds[*].imageTag' --output text --region $AWS_REGION)
#              for TAG in $IMAGE_TAGS; do
#              echo "Pulling image: $ECR_REPOSITORY_NAME:$TAG"
#              docker pull public.ecr.aws/alchemyfr/ps-databox-api-php:$TAG
#              IMAGE_ID=$(docker create public.ecr.aws/alchemyfr/ps-databox-api-php:$TAG)
#              docker cp $IMAGE_ID:/doc/ ./$TAG
#              docker rm -v $IMAGE_ID
#              done

#          echo "Fetching image tags from ECR repository: $ECR_REPOSITORY_NAME"
#          IMAGE_TAGS=$(aws ecr list-images --repository-name $ECR_REPOSITORY_NAME --query 'imageIds[*].imageTag' --output text --region $AWS_REGION)
#          for TAG in $IMAGE_TAGS; do
#            echo "Pulling image: $ECR_REPOSITORY_NAME:$TAG"
#            docker pull ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/$ECR_REPOSITORY_NAME:$TAG
#          done
