name: on_push

on: [push]

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY_NAME: public.ecr.aws/alchemyfr/ps-fake-databox-api-php

  REGISTRY_NAMESPACE: ghcr.io/${{ github.repository_owner }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}


  # sent by workflow_dispatch from phrasea:on-push
#  PHRASEA_TAG: "master"
#  PHRASEA_REF: ${{ github.event.client_payload.PHRASEA_REF || '' }}

  # where to download from phrasea (releases on docker image(s) for applications doc(s) ; github repo for base doc)
  # PHRASEA_GITHUB: "alchemy-fr/phrasea"
  # PHRASEA_IMAGES: "public.ecr.aws/alchemyfr/ps-databox-api-php"
  PHRASEA_GITHUB: "alchemy-fr/sandbox-ci-documentation"
  PHRASEA_IMAGES: "ghcr.io/alchemy-fr/ps-fake-databox-api-php"

jobs:
  pull-ecr-images:
    runs-on: ubuntu-latest

    steps:
      - name: Dump vars
        run: |
          echo "===== on_push.yaml ====="
          echo "env.PHRASEA_TAG = ${{ env.PHRASEA_TAG }}"
          echo "env.PHRASEA_REF = ${{ env.PHRASEA_REF }}"
          echo "github.ref = ${{ github.ref }}"
          echo "github.sha = ${{ github.sha }}"
          echo "github.ref_name = ${{ github.ref_name }}"
          echo "github.repository = ${{ github.repository }}"
          echo "github.event.release.tag_name = ${{ github.event.release.tag_name }}"
          echo "github.event.client_payload.PHRASEA_TAG = ${{ github.event.client_payload.PHRASEA_TAG }}"
          echo "env.REGISTRY = ${{ env.REGISTRY }}"
          echo "env.REGISTRY_NAMESPACE = ${{ env.REGISTRY_NAMESPACE }}"

      - name: Configure AWS  Credentials
        env:
          AWS_ECR_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

#      - name: Authenticate Docker to ECR
#        run: |
#          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com

#      - name: Login to Amazon ECR Public
#        id: login-ecr-public
#        uses: aws-actions/amazon-ecr-login@v2
#        with:
#          registry-type: public

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 30

      ### if we have a specific tag, prepare a single version of documentation

      # copy the databox-api-php doc from the docker image
      - name: List and Pull single image
        if: ${{env.PHRASEA_TAG != ''}}
        run: |
          mkdir -p ./downloads/${{env.PHRASEA_TAG}}/databox-api-php
          echo "Pulling image: ${{env.PHRASEA_TAG}}"
          docker pull ${{env.PHRASEA_IMAGES}}:${{env.PHRASEA_TAG}}
          IMAGE_ID=$(docker create ${{env.PHRASEA_IMAGES}}:${{env.PHRASEA_TAG}})
          docker cp $IMAGE_ID:/srv/app/databox/api/doc/ ./downloads/${{env.PHRASEA_TAG}}/databox-api-php/ || echo "No doc/ folder found in image"
          docker rm -v $IMAGE_ID

      # copy the base doc from the GitHub repository
      - name: Checkout Target Repository
        if: ${{env.PHRASEA_TAG != ''}}
        uses: actions/checkout@v4
        with:
          repository: ${{env.PHRASEA_GITHUB}}
          ref: ${{env.PHRASEA_TAG}}
          path: sandbox-ci-documentation

      - name: Copy Subdirectory
        if: ${{env.PHRASEA_TAG != ''}}
        run: |
          cp -r ./sandbox-ci-documentation/doc ./downloads/${{env.PHRASEA_TAG}}/
          

      ### if we do not have a specific tag, prepare all x.y.z versions of documentation

      - name: List and Pull all images from releases
        if: ${{env.PHRASEA_TAG == ''}}
        run: |
          echo "Fetching tags from github:phrasea releases"
          # Fetch releases
          # -------- to not explode api limits, use a static file for tests -----------
          # response=$(curl -s "https://api.github.com/repos/${{env.PHRASEA_GITHUB}}/releases")
          response=$(cat ./releases_sandbox.json)
          # ---------------------------------------------------------------------------
          # Check if the response is valid
          if [ $? -eq 0 ]; then
            # Loop through releases
            echo "$response" | jq -c '[.[]] |  map({"tag": .tag_name | split(".")  | {major: .[0], minor: .[1], patch: .[2], full: join(".")}, "all": .}) |group_by(.tag.major, .tag.minor) | map(max_by(.tag.patch).all) | .[]' | while read -r release; do
              tag_name=$(echo "$release" | jq -r '.tag_name')
              name=$(echo "$release" | jq -r '.name')
              created_at=$(echo "$release" | jq -r '.created_at')
              echo "Release: $name"
              echo "Tag: $tag_name"
              echo "Created At: $created_at"
          
              mkdir -p ./downloads/$tag_name/databox-api-php
              echo "Pulling image: $tag_name"
              docker pull ${{env.PHRASEA_IMAGES}}:$tag_name
              IMAGE_ID=$(docker create ${{env.PHRASEA_IMAGES}}:$tag_name)
              docker cp $IMAGE_ID:/srv/app/databox/api/doc/ ./downloads/$tag_name/databox-api-php/ || echo "No doc/ folder found in image"
              docker rm -v $IMAGE_ID
          
          
              # Vérifie si git est installé
              if ! command -v git &> /dev/null; then
                echo "Erreur : git n'est pas installé."
                exit 1
              fi
    
              # Clone le repository en mode sparse-checkout
              echo "Clonage du repository en mode sparse-checkout..."
              git clone --depth 1 --filter=blob:none --sparse ${{env.PHRASEA_GITHUB}} ./downloads/$tag_name
              
              # Se déplace dans le dossier cloné
              cd ./downloads/$tag_name || exit
  
              # Configure le sparse-checkout pour inclure uniquement le sous-répertoire
              echo "Configuration du sparse-checkout pour le sous-répertoire : /doc"
              git sparse-checkout set /doc
                
              # Change la branche si nécessaire
              git checkout $tag_name
              
              echo "Téléchargement terminé. Le sous-répertoire est disponible dans : ./downloads/$tag_name/doc"

              echo "-------------------------"
            done
          fi



      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./importer/Dockerfile
          provenance: false
          push: true
          tags: |
            ${{ env.REGISTRY_NAMESPACE }}/ps-documentation-builder:latest
          build-args: |
            PHRASEA_TAG=${{ env.PHRASEA_TAG }}
