name: on_push

on: [push]

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY_NAME: public.ecr.aws/alchemyfr/ps-databox-api-php

jobs:
  pull-ecr-images:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS  Credentials
        env:
          AWS_ECR_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

#      - name: Authenticate Docker to ECR
#        run: |
#          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: List and Pull Images
        run: |
          echo "Pulling image: 3.12.5"
          docker pull public.ecr.aws/alchemyfr/ps-databox-api-php:3.12.5
          IMAGE_ID=$(docker create public.ecr.aws/alchemyfr/ps-databox-api-php:3.12.5)
          docker cp $IMAGE_ID:/doc ./downloads/3.12.5
          docker rm -v $IMAGE_ID
#          echo "Fetching image tags from ECR repository: $ECR_REPOSITORY_NAME"
#          IMAGE_TAGS=$(aws ecr list-images --repository-name $ECR_REPOSITORY_NAME --query 'imageIds[*].imageTag' --output text --region $AWS_REGION)
#          for TAG in $IMAGE_TAGS; do
#            echo "Pulling image: $ECR_REPOSITORY_NAME:$TAG"
#            docker pull ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/$ECR_REPOSITORY_NAME:$TAG
#          done
